<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snsproject.snsproj">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:fullBackupContent="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:supportsRtl="true">
        <activity
            android:name=".calendar_list.CalendarEventActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".calendar_list.SelectDateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>

</manifest>